<div class="container px-3 py-4 card my-5 rounded-3 form-div shadow">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container text-center mb-3">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>lock</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <h1 class="text-center" style="font-size: 36px;">Sign In</h1>
  <div class="container px-4">
    <div class="row"> 
      <div class="col-6" style="margin: 51px 0px 36px 0px;">
        <img src="https://coincent.ai/images/login.png" width="100%" height="100%" alt="">
                      <!-- Registration page images -->
        <!-- <img src="https://nilgiricollege.ac.in/app/app-files/images/userlog.png" width="100%" height="100%" alt=""> -->
        <!-- <img src="https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7865.jpg" width="95%" height="95%" alt=""> -->
        <!-- <img src="https://png.pngtree.com/png-vector/20220526/ourmid/pngtree-online-registration-or-sign-up-login-for-account-on-smartphone-app-png-image_4740838.png" width="100%" height="100%" alt=""> -->
      </div>
      <div class="col-6" style="margin: 51px 0px 36px 0px;">
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mb-3 h6 text-left">Email:</label>
            <input [(ngModel)]="username" type="email" class="form-control shadow-sm mb-3 ng-untouched ng-pristine ng-valid" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Ex:abc@gmail.com" required>
          </div>
      
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label my-3 h6">Password: </label>
            <input [(ngModel)]="password" type="password" class="form-control shadow-sm mb-3 ng-untouched ng-pristine ng-valid" id="exampleInputPassword1" name="password" placeholder="Password" required>
          </div>
          
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary rounded shadow my-3" [disabled]="!loginForm.form.valid" routerLink="/inquiries">
              Login
            </button>
          </div>
          <p class="text-center my-2">
            Not Registered? Register <a routerLink="register">here</a>
          </p>
        </form>
      </div>
    </div>
    
  </div>
</div>


