<div class="container ">
    <!-- <h1 class="text-center">hello</h1> -->
    <div class="text-left my-3 px-4">
      <button class="btn btn-primary btn-sm rounded " routerLink="/inquiries"> <i class="fa-solid fa-circle-chevron-left me-2"></i> Back</button>
    </div>
      <div class="card container p-4 mt-4 form-div rounded-3 shadow">
        <form class="login-form" [formGroup]="inquiryForm">
          <h1 class="text-center">Inquiry Form</h1>
          <div>
            <label for="exampleInputName1" class="form-label h6 text-left">Name: </label>
            <input type="text" class="form-control shadow-sm my-3 ng-untouched ng-pristine ng-valid" id="exampleInputName1"  aria-describedby="emailHelp" name="name" placeholder="Enter your name" formControlName="name">
          </div>
          <div>
            <label for="exampleInputEmail1" class="form-label h6 text-left">Email: </label>
            <input type="email" class="form-control shadow-sm my-3 ng-untouched ng-pristine ng-valid" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Ex:abc@gmail.com" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="exampleInputContact1" class="form-label h6">Contact: </label>
            <input  type="number" class="form-control shadow-sm my-3 ng-untouched ng-pristine ng-valid" id="exampleInputContact1" name="contact" placeholder="Enter your contact number" formControlName="contact">
          </div>
          <div class="mb-3">
            <label for="exampleInputCollege1" class="form-label h6">College: </label>
            <input  type="text" class="form-control shadow-sm my-3 ng-untouched ng-pristine ng-valid" id="exampleInputCollege1" name="college" placeholder="College name" formControlName="college">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary rounded shadow my-3" (click)="onSubmit()" [disabled]="!inquiryForm.valid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    
<!-- </div> --> 